
body {
    font-size: 12px;
}

.card .card-title {
    color: #D8D9E3;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    font-size: 1.125rem;
    font-weight: 600;
}

.fa-plus {
    color: #D8D9E3;
}

.livre {
    color: green;
}

.alugado {
    color: red;
}

.table {
    font-size: 12px;
}